<div class="row nowrap">
  <div class="col article__img-col">
    <a href="{{this.article.url}}">
      <img class="article__img" src="{{this.article.urlToImage}}" alt="angNEWS"/>
    </a>
  </div>
  <div class="col article__content-col">
    <h4 class="article__title"><a href="{{this.article.url}}">{{this.article.title}}</a></h4>
    <p class="article__short-text">{{this.article.description}}</p>
    <p class="article__date">{{date}}</p>
  </div>
  <div class="col article__btns-col" *ngIf="isLocal">
    <button class="article__btn edit">Edit</button>
    <button class="article__btn remove">Remove</button>
  </div>
</div>