<div class="container">
  <div class="row">
    <div class="col edit-article__col">
      <label for="heading-inp">Heading</label>
      <input id="heading-inp" class="styled-inp" type="text" value="" name="heading" />

      <label for="descr-inp">Short description</label>
      <input id="descr-inp" class="styled-inp" type="text" value="" name="heading" />

      <label for="content-inp">Content</label>
      <textarea id="content-inp" class="styled-inp" value="" name="heading"></textarea>
    </div>
    <div class="col edit-article__col">
      <label for="file-inp" class="styled-inp__label">Image</label> 
      <input id="image-type-url" class="radio-btn" type="radio" name="image-type" value="url" checked/>
      <label for="image-type-url" class="styled-inp__label">URL</label>
      <input id="image-type-file" class="radio-btn" type="radio" name="image-type" value="file"/>
      <label for="image-type-file">File</label>
      <input id="file-inp" class="styled-inp" type="text" value="" name="heading" />

      <label for="date-inp">Date</label>
      <input id="date-inp" class="styled-inp" type="text" value="" name="heading" />

      <label for="author-inp">Author</label>
      <input id="author-inp" class="styled-inp" type="text" value="" name="heading" />

      <label for="source-inp">Source URL</label>
      <input id="source-inp" class="styled-inp" type="text" value="" name="heading" />

      <input type="submit" value="Submit" />
    </div>
  </div>
</div>