.article-page {
    &__container {
        padding-bottom: 20px;
    }
    &__img {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    &__title {
        font-size: 24px;
        margin: 0 0 20px;
        font-weight: 700;
    }
    &__descr {
        font-size: 20px;
        margin: 0 0 20px;
        font-weight: 500;
    }
    &__text {
        margin: 0;
    }
    &__author,
    &__date {
        margin: 20px 0 0;
    }
    &__not-found {
        text-align: center;
    }
}